@using OrganizerApp.WebUI.Infrastructure.Resources.Languages
@model OrganizerApp.WebUI.Models.TasksListViewModel

<h2> @LocalizedText.Tasks </h2>
@if(Model.Tasks == null || Model.Tasks.Count() == 0)
{
    <p> @LocalizedText.TasksNotFound </p>
    return;
}
@foreach (var item in Model.Tasks)
{
    @Html.Partial("_ExtendedTaskView", item);
}

@section scripts{
    <script>
        var doneTaskApiAction = '@Model.DoneTaskActionUri';
    </script>
    <script src="@Url.Content("/MyScripts/AjaxHelpers.js")"></script>
    <script src="@Url.Content("/MyScripts/TasksListScripts.js")"></script>
}